.container {
    flex-grow: 1;
    background: var(--ant-color-bg-container);
    padding: 24px;
    border-radius: var(--ant-border-radius-lg);
    margin: 20px 48px;
    background-color: #eed09d;
}
