.pageContainer {
    flex-grow: 1;
    background: var(--ant-color-bg-container);
    padding: 24;
    border-radius: var(--ant-border-radius-lg);
    margin: 20px 48px;
}

.title {
    text-align: center;
    padding-bottom: 40px;
    flex: 1;
}

.headlineContainer {
    display: flex;
}

@media only screen and (max-width: 576) {
    .headlineContainer {
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 35px;
    }
}
