.container {
    flex-grow: 1;
    background: var(--ant-color-bg-container);
    padding: 24;
    border-radius: var(--ant-border-radius-lg);
    margin: 20px 48px;
}

.containerTitle {
    text-align: center;
    padding-bottom: 40px;
}
