.imageContainer {
    width: 100%;
    height: auto;
    background: no-repeat scroll top;
    background-size: cover;
}

.container {
    flex: 1;
    margin: 50px 20px;
    max-width: 400px;
    background: var(--ant-color-bg-container);
    min-height: 300px;
    padding: 24;
    border-radius: var(--ant-border-radius-lg);
    box-shadow: var(--ant-box-shadow-tertiary);
}

@media only screen and (width >= 992px) {
    .container {
        max-width: 500px;
    }
}

@media only screen and (width >= 1200px) {
    .container {
        max-width: 600px;
    }
}

.formTitle {
    text-align: center;
}

form.loginForm {
    padding: 5px 20px;
    margin: 10px auto 0 auto;

    button#submitButton {
        margin-bottom: 7px;

        background-color: #fa8c16;

        &:hover {
            background-color: #fc9b34;
        }
    }

    a {
        color: var(--ant-color-link);
    }

    a:hover {
        color: var(--ant-color-link-hover);
    }
}

@media only screen and (width >= 1200px) {
    form.loginForm {
        padding: 10px 50px;
    }
}
