.footer {
    text-align: center;

    ul li {
        list-style: none;

        &:hover a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 24px 50px;
    }

    .footerContainer {
        flex-wrap: wrap;
        gap: 15px;
    }
}
